html {
  font-family: Helvetica, sans-serif;
  background-color: black;
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-size: 50px;
  font-weight: normal;
  color: white;
  text-align: center;
}

h3 {
  color: aquamarine;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}

.bluetext {
  color: blue;
}

.frames {
  color: white;
  background-color: lightcoral;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}

.paint {
  color: white;
  background-color: skyblue;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
